<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>

</head>
<body>
  <nav>
    <ul>
      <li><a href="/hogwarts">View All Students</a></li>
      <li><a href="/hogwarts/new">New Student</a></li>
      <li><a href="/hogwarts/houses">Houses</a></li>
    </ul>
  </nav>
  <main>
  <%= yield %>
  </main>

  <!-- <footer> &copy 2018 </footer> -->
</body>
</html>
